@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4269E2;
}

html {
    color: #ffff;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 2rem;
}
p {
    font-size: 13px;
}
h1, p {
    font-weight: 100;
    text-align: start;
}
a {
    text-decoration: none;
    color: #ffff;
}

section.container {
    width: 80%;
    margin: 0 auto;
    max-width: 400px;
    background: #4B4B4B;
    display: flex;
    min-height: 400px;
}

.formLeft {
    display: none;
    width: 100%;
}
.formLeft .illustrationFormLeft {
    background: url(assets/illustrationLeftForm.png) no-repeat;
    width: 100%;
    height: 21rem;
    background-size: cover;
    background-position: center;
}
.formRight {
    width: 100%;
    padding: 30px 40px;
    margin: 0 auto;
}
form > div {
    width: 100%;
    margin-bottom: 0.8rem;
}

.errorDiv {
    width: 100%;
}

.formRight .errorMessage {
    width: 100%;
    margin: 15px 0;
    padding: 15px 10px;
    border-radius: 5px;
    text-align: center;
    color: red;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.formRight .fullName {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.formRight .fullName .firstName, .formRight .fullName .lastName {
    width: 50%;
}


label {
    font-size: 13px;
    font-weight: 200;
    display: block;
    padding-left: 8px;
    margin-bottom: 5px;
}
input {
    width: 100%;
    outline: none;
    color: #ffff;
    height: 35px;
}
 input[type='submit'] {
   padding: 6px 0px;
    background: #4269E2;
    border: none;
    color: #ffff;
}
input:not([type='file'], [type='submit']) {
    padding: 8px 12px;
    background: transparent;
    border: solid 2px #ffff;
    border-radius: 15px;
}
form input::placeholder {
    font-size: 11px;
    color: #C3C3C3;
}
.formRight .password {
    position: relative;
}
.formRight .password i {
    position: absolute;
    transform: translateY(50%);
    right: 15px;
    color: #ccc;
    cursor: pointer;
}
.formRight .password i::before {
    /* color: #333; */
    content: "\f070";
}

@media screen and (min-width: 900px) {

    section.container {
        width: 90%;
        max-width: 960px;
    }
    .formLeft {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .formRight {
        width: 50%;
    }   
}



/* * HOMECHAT */

header h1 {
    font-size: 1rem;
    margin-bottom: 0;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}
h2 {
    font-size: 1rem;
    font-weight: 300;
}
h3 {
    font-size: 1rem;
    font-weight: 300;
}
.imageProfil {
    height: 40px;
    width: 40px;
    background-size: cover;
    border-radius: 50%;
}
.imageStatus {
    height: 10px;
    width: 10px;
}

.formLeft .illustrationLeftHomeChat {
    background: url(assets/illustrationLeftHomeChat.png) no-repeat;
    width: 80%;
    height: 20rem;
    background-size: cover;
    background-position: center;
}
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}
.formRight a.logout {
    display: block;
    padding: 10px 20px;
    background: #4269E2;
    color: #ffff;
    font-size: 11px;
    width: 100%;
    text-align: center;
}
.infoSearch {
    margin-bottom: 2rem;
}
input.searchInput {
    display: none;
    margin-bottom: 1.5rem;
    transition: all 0.2s ease;
}
.h2 {
    margin-bottom: 1.5rem;
}

.usersList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}
.usersList .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usersList .user .leftUser {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.usersList .user .leftUser 
p.message, p.statusText {
    font-size: 0.8rem;
    color: #C3C3C3;
}
.usersList .user i , header i.status {
    color: #ffff;
    font-size: 11px;
}
.usersList .user i.online , header i.status {
    color: #389D58;
}
