@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #4269E2;
    /* background: #e242ad; */
}

html {
    color: #ffff;
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
}
p {
    font-size: 0.7rem;
}
h1, p {
    font-weight: 100;
    text-align: center;
}
a:not(.linkLoginRegister) {
    text-decoration: none;
    color: #ffff;
}
a.linkLoginRegister {
    color: #00C2FF;
}

section.container {
    width: 80%;
    margin: 0 auto;
    max-width: 470px;
    min-height: 400px;
    background: #4B4B4B;
    display: flex;
}

.formLeft {
    display: none;
    width: 100%;
}
.formLeft .illustrationFormLeft {
    background: url(assets/illustrationLeftForm.png) no-repeat;
    width: 100%;
    height: 21rem;
    background-size: cover;
    background-position: center;
}
.formRight {
    width: 100%;
    padding: 30px 40px;
    margin: 0 auto;
}
form > div {
    width: 100%;
    margin-bottom: 0.8rem;
}

.errorDiv {
    width: 100%;
}

.formRight .errorMessage {
    width: 100%;
    margin: 15px 0;
    padding: 15px 10px;
    border-radius: 5px;
    text-align: center;
    color: red;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.formRight .fullName {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.formRight .fullName .firstName, .formRight .fullName .lastName {
    width: 50%;
}


label {
    font-size: 20px;
    font-weight: 200;
    display: block;
    padding-left: 8px;
    margin-bottom: 5px;
}
input,textarea {
    width: 100%;
    outline: none;
    color: #ffff;
    height: 40px;
}

 input[type='submit'] {
   padding: 6px 0px;
    background: #4269E2;
    border: none;
    color: #ffff;
}
input:not([type='file'], [type='submit']), textarea {
    padding: 8px 12px;
    background: transparent;
    border: solid 3px #ffff;
    border-radius: 15px;
}

form input::placeholder {
    font-size: 15px;
    color: #C3C3C3;
}
.formRight .password {
    position: relative;
}
.formRight .password i {
    position: absolute;
    transform: translate(-50%, 80%);
    right: 5px;
    color: #ccc;
    cursor: pointer;
}


@media screen and (min-width: 900px) {

    section.container {
        width: 90%;
        max-width: 960px;
    }
    .formLeft {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .formRight {
        width: 50%;
    }   
}



/* * HOMECHAT */

header h1 {
    font-size: 1.3rem;
    margin-bottom: 0;
}
h2 {
    font-size: 1.3rem;
    font-weight: 300;
}
h3 {
    font-size: 1.2rem;
    font-weight: 300;
}
.imageProfil {
    height: 40px;
    width: 40px;
    background-size: cover;
    border-radius: 50%;
}
.imageStatus {
    height: 10px;
    width: 10px;
}

div.formLeft .illustrationLeftHomeChat {
    background: url(assets/illustrationLeftHomeChat.png) no-repeat;
    width: 80%;
    height: 20rem;
    background-size: cover;
    background-position: center;
}
header.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    position: relative;
}
div.topLeft {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
}

div.topLeft.chat {
    margin: 0 auto;
    justify-content: center;
}
div.formRight a.logout {
    display: block;
    padding: 10px 20px;
    background: #4269E2;
    color: #ffff;
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.infoSearch {
    margin-bottom: 2rem;
}
input.searchInput {
    display: none;
    margin-bottom: 1.5rem;
    transition: all 0.2s ease;
}
.h2 {
    margin-bottom: 1.5rem;
}

.usersList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    max-height: 350px;
    overflow-y: auto;
    padding-right: 20px;
}
.usersList::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}
.usersList::-webkit-scrollbar-thumb {
    background: #757575;
}

.usersList .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usersList .user .leftUser {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.usersList .user .leftUser 
p.message, p.statusText {
    color: #C3C3C3;
}
.usersList .user div.status i , header i.status {
    color: #ffff;
    font-size: 13px;
}
.usersList .user div.status.connecter i , header i.status {
    color: #389D58;
}


/* * CHAT */

section.container.chat {
    display: block;
    padding: 2rem;
    max-width: 500px;
}
section.container.chat .chatContainer {
    position: relative;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.chatContainer::-webkit-scrollbar{
    width: 0px;
}
section.container.chat div.arrowReturn {
    background: url(assets/arrowReturn.png) ;
    width: 35px;
    height: 35px;
    background-size: cover;
}
section.container.chat i.searchIcon {
    display: none;
}
section.container.chat form {
    display: flex;
    padding-top: 20px;
}
section.container.chat form input {
    width: 20%;
    margin-right: 0.3rem;
}
section.container.chat form textarea {
    width: 80%;
    resize: none;
}

section.container.chat span.dateMessage {
    font-size: 0.7rem;
    margin: 0 auto;
}
section.container.chat span.hourMessage {
    font-size: 0.7rem;
    width: fit-content;
}
section.container.chat span.hourMessage.right {
    margin-left: auto;
}
section.container.chat .messageSend {
    padding: 3px;
    line-height: 1rem;
    max-width: calc(100% - 130px);
    position: relative;
}
section.container.chat .messageSend::after {
    background: inherit;
    content: '';
    display: block;
    position: absolute;

    top: 100%;
    width: 20px;
    height: 5px;
    
}
section.container.chat .messageSend.left::after {
    left: 0;
    clip-path: polygon(0 0, 100% 0, 0% 100%);
}
section.container.chat .messageSend.right::after {
    right: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%); 
}
section.container.chat .messageSend.left{
    border-radius: 18px 18px 18px 0;
   background: #262629;
   margin-right: auto;
}
section.container.chat .messageSend.left p {
    margin-left: auto;
}
section.container.chat .messageSend.right {
    border-radius: 18px 18px 0 18px;
    background: #0A84FF;
    margin-left: auto;
}
section.container.chat .messageSend.right p {
    margin-left: auto;
}
section.container.chat .messageSend p {
    word-wrap: break-word;
    padding: 8px 16px;  
    text-align: unset;
}
section.container.chat .chatContainer p.messagingEmpty {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    LEFT: 50%;
    font-size: 1.4rem;
}
section.container.chat form.formMessage textarea::placeholder {
    color: #C3C3C3;
}